//
//  Theme overrides fallback
//  _____________________________________________

//  Magento themes overrides fallback handling. Should be EMPTY.


//
//  Layout
//  _____________________________________________
@layout__max-width: 100%;
@layout-indent__width: 0;
@layout__width-xs-indent: 0;