//
//  autoSound theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Color
//  ---------------------------------------------
@activelife_color-white: #fff;
@activelife_color-mediumpurple: mediumpurple;
@activelife_color-deepskyblue: deepskyblue;
@activelife_color-orangered: orangered;