& when (@media-common = true) {
  .home-slider{
    background-image: url("@{baseDir}images/banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .head {
      display: flex;

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        color: @activelife_color-white;
        font-size: 1.2rem;
        font-weight: bold;
        min-height: 35px;

        &.existing{
          background-color: @activelife_color-mediumpurple;
        }

        &.discover {
          background-color: @activelife_color-deepskyblue;
        }

        &:hover{
          text-decoration: none;
        }
      }
    }
    .title-home {
      text-align: center;
      color: @activelife_color-white;

      h1{
        font-size: 8rem;
        font-weight: bold;
      }

      hr{
        width: 5%;
      }

      p{
        font-size: 3.2rem;
        font-weight: bold;
      }
    }
    .advantage{
      display: flex;
      justify-content: center;
      padding: 20px 0;

      .section{
        padding: 0 40px;
        border-right: 1px solid @activelife_color-white;
        max-width: 315px;
        text-align: center;

        .title{
          color: orangered;
          text-transform: uppercase;
        }
        .content{
          font-size: 1.9rem;
          font-weight: bold;
          color: @activelife_color-white;

          &::after{
            content: '→';
            padding-left: 10px;
          }

          &:hover{
            text-decoration: none;
          }
        }

        &:last-child{
          border-right: 0;
        }
      }
    }
    .owl-nav{
      &.disabled{
        display: none;
      }
    }
  }

  .home-product{
    max-width: 1000px;
    display: block;
    margin: 0 auto;

    .product-title{
      font-weight: bold;
    }

    .product-wrapper{
      display: flex;
      position: relative;

      a.product{
        max-width: 250px;
        width: 100%;
        padding: 0 15px;

        .vendor,
        .name,
        .price{
          color: #1a1a1a;
        }

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .owl-stage-outer{
    overflow: hidden;
    width: 100%;

    .owl-stage {
      display: flex;
    }
  }
  .owl-dots{
    display: none;
  }
  .owl-nav{
    .owl-prev,
    .owl-next{
      position: absolute;
      top: 30%;
      right: 0;
    }
    .owl-prev{
      left: 0;
    }
    button{
      background: none;
      border: none;
      font-size: 40px;

      &:hover,
      &:active{
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .column.main .home-slider {

    .head {
      a {
        text-align: center;
      }
    }

    .title-home {
      h1 {
        font-size: 5rem;
      }
      hr {
        width: 40%;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}