<div class="head">
    <a class="existing" href="#"><?= __('Existing customers oi or register for member discounts') ?></a>
    <a class="discover" href="#"><?= __('Discover more about ActiveLife') ?></a>
</div>
<div class="title-home">
    <h1><?= __('ActiveLife') ?></h1>
    <hr>
    <p><?= __('Good Health through smarter products') ?></p>
</div>
<div class="advantage">
    <div class="section">
        <p class="title"><?= __('shona vertue') ?></p>
        <a href="#" class="content"><?= __('Read the PT`s tips to improve your wellbeing') ?></a>
    </div>
    <div class="section">
        <p class="title"><?= __('realishe health') ?></p>
        <a href="#" class="content"><?= __('Understand your body with our range of at-home health assessments') ?></a>
    </div>
    <div class="section">
        <p class="title"><?= __('puregym') ?></p>
        <a href="#" class="content"><?= __('Smash your fitness goals in the UK`s gym chain') ?></a>
    </div>
</div>
<script>
    (function  () {
        require(["jquery","owlCarousel"],function($) {
            $(document).ready(function() {
                $(".head").owlCarousel({
                    navigation : true, // Show next and prev buttons
                    autoPlay: false, //Set AutoPlay to 3 seconds
                    loop: true,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:2
                        },
                        1000:{
                            items:2
                        }
                    }
                });
            });
        });
    })();
</script>