<h2 class="product-title"><?= __('Featured Product') ?></h2>
<div class="product-wrapper" data-mage-init='{
    "related_carousel": {}
}'>
    <a href="#" class="product">
        <img src="<?= $block->getViewFileUrl('images/pr1.jpg'); ?>" alt="">
        <p class="vendor">Suppiler One Company</p>
        <p class="name">Gemini CS223</p>
        <p class="price">$250.00</p>
    </a>
    <a href="#" class="product">
        <img src="<?= $block->getViewFileUrl('images/pr1.jpg'); ?>" alt="">
        <p class="vendor">Saladplate</p>
        <p class="name">VertuoPlus Deluxe Bundle</p>
        <p class="price">$170.00</p>
    </a>
    <a href="#" class="product">
        <img src="<?= $block->getViewFileUrl('images/pr1.jpg'); ?>" alt="">
        <p class="vendor">Saladplate</p>
        <p class="name">VertuoPlus Deluxe Bundle</p>
        <p class="price">$170.00</p>
    </a>
    <a href="#" class="product">
        <img src="<?= $block->getViewFileUrl('images/pr1.jpg'); ?>" alt="">
        <p class="vendor">Saladplate</p>
        <p class="name">Zenius ZN100</p>
        <p class="price">$50.00</p>
    </a>
</div>